// GENERAL

body {
	//font-family: $first-font;
	background-image: url("../img/background.jpg");
}

header {
	background-image: url("../img/pattern.png");
}

.wrapper {
	margin: 30px auto;
	width: 1000px;
	background-color: #dedad3;
}

//LAYOUT

@import 'layout';