@mixin btn ($nombre, $bg-color, $color) {
	.btn-#{$nombre}{
		width: 100px;
		height: 100px;
		background-color: $bg-color;
		color: $color;
	}
}

@include btn ( 'green', green, black);
@include btn ( 'yellow', yellow, black);
@include btn ( 'red', red, black);