@font-face {
    font-family: 'kaushan';
    src: url('../fonts/kaushan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}